
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Off Canvas Reveal Menu Template for Bootstrap</title>

    @Styles.Render("~/Content/css")

</head>
<body>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <a class="navmenu-brand" href="#">Project name</a>
  

    <ul class="nav navmenu-nav">
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Смотрю</a>
            <ul class="dropdown-menu navmenu-nav">
                <li><a href="#">Все</a></li>
                <li><a href="#">Комедия</a></li>
                <li><a href="#">Драма</a></li>
            </ul></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Посмотреть</a>
            <ul class="dropdown-menu navmenu-nav">
                <li><a href="#">Все</a></li>
                <li><a href="#">Комедия</a></li>
                <li><a href="#">Драма</a></li>
            </ul></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Просмотренно</a>
            <ul class="dropdown-menu navmenu-nav">
                <li><a href="#">Все</a></li>
                <li><a href="#">Комедия</a></li>
                <li><a href="#">Драма</a></li>
            </ul></li>
    </ul>
</div>

<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="container">
  
    @RenderBody()
    <p class="lead">This example demonstrates the use of the offcanvas plugin with a push effect.</p>
    <p>You get the push effect by setting the <code>canvas</code> option to 'body'.</p>
    <p>Also take a look at the example for a navmenu with <a href="../navmenu">slide in effect</a> and <a href="../navmenu-reveal">reveal effect</a>.</p>
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
