
<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Watch Reminder - твой персональный список</title>

    @Styles.Render("~/Content/css")

</head>
<body>

<div class="navmenu navmenu-default navmenu-fixed-left offcanvas">
    <a class="navmenu-brand" href="/home">Watch Reminder</a>
    <ul class="nav navmenu-nav">
        <li class="dropdown"><a href="#" class="dropdown-toggle watching" data-toggle="dropdown">Смотрю</a>
            <ul class="dropdown-menu navmenu-nav watching-genre">
                <li><a href="#">Все</a></li>
                <li><a href="#">Комедия</a></li>
                <li><a href="#">Драма</a></li>
            </ul></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle to-watch" data-toggle="dropdown">Посмотреть</a>
            <ul class="dropdown-menu navmenu-nav to-watch-genre">
                <li><a href="#">Все</a></li>
                <li><a href="#">Комедия</a></li>
                <li><a href="#">Драма</a></li>
            </ul></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle watched" data-toggle="dropdown">Просмотренно</a>
            <ul class="dropdown-menu navmenu-nav watched-genre">
                <li><a href="#">Все</a></li>
                <li><a href="#">Комедия</a></li>
                <li><a href="#">Драма</a></li>
            </ul></li>
    </ul>
</div>

<div class="navbar navbar-default navbar-fixed-top">
    <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu" data-canvas="body">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <div class="btn-group top-buttons">
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <ul class="dropdown-menu search-dropdown" role="form">
                <li><input type="text" class="form-control input-xs" id="search-church" placeholder="Названия, жанры..."></li>    
            </ul>
        </div>
        <button type="button" class="btn btn-info">Мой топ </button>
        <button type="button" class="btn btn-info">Имя</button>
        <button type="button" class="btn btn-info">Дата просмотра</button>
    </div>
</div>

<div class="container">
  
    @RenderBody()
   
</div><!-- /.container -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

  @Scripts.Render("~/bundles/jquery")
  @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
